<div id="<%= dom_id song %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= song.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Album:</strong>
    <%= song.album %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Length:</strong>
    <%= song.length %>
  </p>

</div>
